#contenu{
    margin-top: 15px;
}

#imgPerso{
    height: 510px;
}

li{
    list-style: none;
}

#blockImgStat{
    padding-top: 10px;
}

#logo{
    height: 40px;
}

#warhammer{
    font-style: italic;
}

h5{
    font-weight: bold;
}

#test{
    padding: 15px;
    margin: 15px;
}

@media(max-width: 960px){
    #imgPerso{
        height: 350px;
        margin-bottom: 15px;
    }
}
